
/*Removes blue border*/
*:focus {outline:none !important}



h1{

    text-shadow: 7px 10px 10px rgba(0, 0, 0, 0.99);
   color: white;
    font-family: 'Pacifico', cursive;


}
.textBox{
    height: 200px;
    width: 150px;
    padding: 10px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    background: rgba(0, 0, 0, 0.1);


}

#run {
    margin-top: 5%;
    border-style: none;
padding: 5px;
    border-radius: 1px;
    background-color: #2182ff;
}
input{

    border-style: none  ;
    padding: 3px;
    border-radius: 100px;
    width: 50%;


}


article{
    z-index: 1;
    position: relative;
    box-shadow: 7px 10px 10px #111111;

}

/*background-color: #2f56ff;*/
#loo{
    background-color: #2182ff;
padding-top: 10%;
    width: auto;
    height: auto;

}
