
h1{
   
   color: white;
    font-family: 'Pacifico', cursive;

}
.textBox{
    height: 200px;
    width: 150px;
    padding: 10px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    background: rgba(0, 0, 0, 0.1);


}


input, #run{
    margin-top: 10px;
    border-style: none  ;

    border-radius: 50px;

}

article{
    z-index: 1;
    position: relative;
    box-shadow: 7px 10px 10px #111111;

}

/*background-color: #2f56ff;*/
#loo{
background-color: #ffc82c;
padding-top: 10%;
    width: auto;
    height: auto;

}
